<nb-card>
  <nb-card-header>Add Mmeber</nb-card-header>
  <nb-card-body>
    <form
      [formGroup]='memberFG'
      class="row"
    >
      <div class="col-lg-6">
        <mat-form-field
          class="input-example"
          appearance="fill"
        >
          <mat-label>Name</mat-label>
          <input
            formControlName='name'
            matInput
            autocomplete="off"
          >
          <mat-error *ngIf="name?.touched && name?.invalid && name?.hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field
          class="input-example"
          appearance="fill"
        >
          <mat-label>Surname</mat-label>
          <input
            formControlName='surname'
            matInput
            autocomplete="off"
          >
          <mat-error
            *ngIf="surname?.touched && surname.invalid &&surname?.hasError('required')"
          >
            Surname is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="input-example">
          <mat-label>Month Year picker</mat-label>
          <input
            formControlName='dateAndMonthOfBirth'
            matInput
            autocomplete="off"
            [matDatepicker]="picker"
          >
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error
            *ngIf="dateMonthOfBirth?.touched && dateMonthOfBirth?.invalid && dateMonthOfBirth?.hasError('required')"
          >
            Month and year of birth is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field
          class="input-example"
          appearance="fill"
        >
          <mat-label>Gender</mat-label>
          <mat-select formControlName='gender'>
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
          </mat-select>
          <mat-error
            *ngIf="gender?.touched && gender?.invalid && gender?.hasError('required')"
          >
            Gender is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field
          class="input-example"
          appearance="fill"
        >
          <mat-label>Contact Number</mat-label>
          <!-- <span matPrefix>+44 &nbsp;</span> -->
          <input
            formControlName='phoneNumber'
            matInput
            autocomplete="off"
            placeholder="+447700000000"
          >
          <mat-error
            *ngIf="phoneNumber?.touched && phoneNumber?.invalid && phoneNumber?.hasError('pattern')"
          >
            Please entr a valid mobile phone UK number with <strong>country code
              (+44)</strong>
          </mat-error>
          <mat-error
            *ngIf="phoneNumber?.touched && phoneNumber?.invalid && phoneNumber?.hasError('required')"
          >
            Mobile phone contact number <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <div>
          <p>
            <mat-checkbox
              formControlName='isWorker'
              class="example-margin"
            >IsWorker</mat-checkbox>
          </p>
        </div>
      </div>
    </form>
    <div class="btns">
      <button
        class="btns_margin_each"
        mat-raised-button
        color="warn"
        (click)="cancel()"
      >Cancel</button>

      <button
        class="btns_margin_each btn-save"
        mat-raised-button
        [disabled]="isValid(memberFG)"
        (click)="save(memberFG.value)"
      >Save</button>
    </div>
  </nb-card-body>
</nb-card>
