<div class="visitors-statistics">
  <h4 class="h1">
    {{totalExpenses | currency: currencyCode}}
  </h4>
  <div class="visitors-title">Expenses</div>
  <div class="statistics-chart">
    <div echarts
         [options]="option"
         class="echart"
         (chartInit)="onChartInit($event)">
    </div>
  </div>
  <div class="statistics-footer">
    <div class="chart-values h5">
      <span class="chart-value">{{expensesPercentage}}%</span>
      <span class="chart-value">{{incomePercentage}}%</span>
    </div>
    <ngx-legend-chart class="visitors-statistics-legend" [legendItems]="chartLegend"></ngx-legend-chart>
  </div>
</div>
